version: '2.4'

volumes:
  orderer.universidades.com:
  peer0.iebs.universidades.com:
  peer0.tec.universidades.com:

networks:
  test:
    name: fabric_test

services:
  orderer.universidades.com:
    container_name: orderer.universidades.com
    image: hyperledger/fabric-orderer:2.3.3
    environment:
      - FABRIC_LOGGING_SPEC=INFO
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=/var/hyperledger/orderer/tls/ca.crt
      - ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_CLUSTER_ROOTCAS=/var/hyperledger/orderer/tls/ca.crt
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    ports:
      - 7050:7050
    networks:
      - test
    volumes:
      - ../organizations/ordererOrganizations/universidades.com/orderers/orderer.universidades.com/msp:/var/hyperledger/orderer/msp
      - ../organizations/ordererOrganizations/universidades.com/orderers/orderer.universidades.com/tls:/var/hyperledger/orderer/tls
      - orderer.universidades.com:/var/hyperledger/production/orderer
      - ./channel-artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block

  peer0.iebs.universidades.com:
    container_name: peer0.iebs.universidades.com
    image: hyperledger/fabric-peer:2.3.3
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=fabric_test
      - FABRIC_LOGGING_SPEC=INFO
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_PROFILE_ENABLED=false
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
      - CORE_PEER_ID=peer0.iebs.universidades.com
      - CORE_PEER_ADDRESS=peer0.iebs.universidades.com:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer0.iebs.universidades.com:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      # - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.iebs.universidades.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.iebs.universidades.com:7051
      - CORE_PEER_LOCALMSPID=IEBSMSP
      - CORE_OPERATIONS_LISTENADDRESS=0.0.0.0:9443  
      - CORE_OPERATIONS_TLS_ENABLED=false           
      - CORE_PEER_GOSSIP_USELEADERELECTION=true    
      - CORE_PEER_GOSSIP_ORGLEADER=true           
      - CORE_PEER_DELIVERYCLIENT_KEEPALIVE_CLIENT_INTERVAL=60s 
    volumes:
      - /var/run/docker.sock:/host/var/run/docker.sock
      - ../organizations/peerOrganizations/iebs.universidades.com/peers/peer0.iebs.universidades.com/msp:/etc/hyperledger/fabric/msp
      - ../organizations/peerOrganizations/iebs.universidades.com/peers/peer0.iebs.universidades.com/tls:/etc/hyperledger/fabric/tls
      - peer0.iebs.universidades.com:/var/hyperledger/production
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    ports:
      - 7051:7051
      - 9443:9443
    networks:
      - test

  peer0.tec.universidades.com:
    container_name: peer0.tec.universidades.com
    image: hyperledger/fabric-peer:2.3.3
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=fabric_test
      - FABRIC_LOGGING_SPEC=INFO
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_PROFILE_ENABLED=false
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
      - CORE_PEER_ID=peer0.tec.universidades.com
      - CORE_PEER_ADDRESS=peer0.tec.universidades.com:9051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:9051
      - CORE_PEER_CHAINCODEADDRESS=peer0.tec.universidades.com:9052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:9052
      # - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.tec.universidades.com:9051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.tec.universidades.com:9051
      - CORE_PEER_LOCALMSPID=TECMSP
      - CORE_OPERATIONS_LISTENADDRESS=0.0.0.0:9444  
      - CORE_OPERATIONS_TLS_ENABLED=false           
      - CORE_PEER_GOSSIP_USELEADERELECTION=false    
      - CORE_PEER_GOSSIP_ORGLEADER=false           
      - CORE_PEER_DELIVERYCLIENT_KEEPALIVE_CLIENT_INTERVAL=60s  
    volumes:
      - /var/run/docker.sock:/host/var/run/docker.sock
      - ../organizations/peerOrganizations/tec.universidades.com/peers/peer0.tec.universidades.com/msp:/etc/hyperledger/fabric/msp
      - ../organizations/peerOrganizations/tec.universidades.com/peers/peer0.tec.universidades.com/tls:/etc/hyperledger/fabric/tls
      - peer0.tec.universidades.com:/var/hyperledger/production
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    ports:
      - 9051:9051
      - 9444:9443
    networks:
      - test